<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Create Game Form control">
      <button (click)="create()" class="btn btn-success">New</button>
      <button (click)="reload()" class="btn btn-primary">Refresh</button>
    </div>
  </div>
  <form class="d-flex justify-content-center" [formGroup]="filters">
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="waiting-for-opponent"
        formControlName="waitingForOpponent"

      />
      <label class="form-check-label" for="waiting-for-opponent">Waiting for Opponent</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="finished"
        formControlName="isFinished"
      />
      <label class="form-check-label" for="finished">Finished</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="in-progress"
        formControlName="inProgress"
      />
      <label class="form-check-label" for="in-progress">In Progress</label>
    </div>
  </form>

  <ul class="list-group matchmaking-game-list">
    <li
      *ngIf="isLoading"
      class="list-group-item border border-primary text-center nga-default nga-stagger nga-collapse"
      style="background-color: #e3f1ff"
    >
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </li>
    <li
      *ngFor="let game of matches | gameOrder: credentials.username"
      class="list-group-item nga-collapse nga-default nga-stagger border border-primary"
      style="background-color: #e3f1ff"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          <a [hidden]="game.matchState == 'WAITING_FOR_PLAYERS'" routerLink="/game/{{ game.id }}" class="text-dark">
            Game {{ game.id }}
          </a>
          <span [hidden]="game.matchState != 'WAITING_FOR_PLAYERS'" class="text-dark">Game {{ game.id }}</span>
          - {{ game.matchState | gameStatePipe }}
        </h5>
        <small *ngIf="game.createdAt"
          >Created <span class="log-time">{{ game.createdAt | amTimeAgo: true }} ago</span></small
        >
      </div>
      <p>
        <span *ngFor="let participant of game.participants; let isLast = last">
          <span class="badge badge-pill badge-primary" *ngIf="game.scores != null">{{
            game.scores[participant.account.id]
          }}</span>
          <identicon username="{{participant.account.user.username}}"></identicon>
          <a
            ui-sref="playerDetails({id: participant.account.id})"
            [ngClass]="{
              winner: game.winner && game.winner.account.id === participant.id,
              loser: game.winner && game.winner.account.id !== participant.id
            }"
          >
            {{ participant.account.user.username }}
          </a>
          <elo score="{{ participant.account.elo }}"></elo>
          {{ isLast ? '' : ', ' }}
        </span>
      </p>

      <small>
        <span *ngFor="let card of game.cards.cards">
          <a class="badge badge-dark text-light">{{ card.cardClass.split('.').reverse()[0] }}</a>
        </span>
      </small>

      <a class="btn btn-primary btn-play" *ngIf="game.matchState === 'IN_PROGRESS' && canPlay(game)" routerLink="/game/{{ game.id }}">Play</a>
      <button *ngIf="game.matchState === 'WAITING_FOR_PLAYERS' && canJoin(game)" (click)="joinGame(game)" class="btn btn-primary">
        Join
      </button>
    </li>
  </ul>
</div>
