:host {

  display: inline-block;
  float: left;
  text-align: center;

  .card-stack-container {
    position: relative;
    margin-left:10px;
  }

  button.plus {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: .5;
  }

  .btn-choice {
    cursor: pointer;
  }

  .btn-choice img {
    opacity: 1;
    box-shadow: 0 0 5px 0 #0066ff;
  }

  .btn-disable img {
    opacity: .5;
  }

  .btn.btn-card {
    padding: 0;
  }
}
