<div class="players-container">
  <h3>Players</h3>
  <ul>
    <li ng-repeat="player in players">
      <a ng-class="{active: isActivePlayer(player)}" href="#/games/{{game.id}}/players/{{player.id}}">{{player.id}}</a> <span ng-if="isCurrentPlayer(player)">(showing)</span>
    </li>
  </ul>
</div>

<div class="common-container">
  <ul>
    <li ng-repeat="name in commonCards">
      <button ng-init="cards = game.kingdom.cardMarket[name]" class="btn" ng-click="purchase(cards[0])" ng-disabled="!canAfford(cards[0]) || getCurrentPlayer().currentTurn.phase !== 'BUY'">
        <img ng-src="{{getImagePath(cards[0])}}" />
        <span class="name">{{name}}</span>
        <span class="count">({{cards.length}})</span>
      </button>
    </li>
  </ul>
</div>

<div class="kingdom-container">
  <ul>
    <li ng-repeat="name in kingdomCards">
      <button ng-init="cards = game.kingdom.cardMarket[name]" class="btn" ng-click="purchase(cards[0])" ng-disabled="!canAfford(cards[0]) || getCurrentPlayer().currentTurn.phase !== 'BUY'">
        <img ng-src="{{getImagePath(cards[0])}}" />
        <span class="name">{{name}}</span>
        <span class="count">({{cards.length}})</span>
      </button>
    </li>
  </ul>
</div>

<div class="controls-container" ng-if="hasCurrentPlayer()">
  <p>Phase: {{turn.phase}}</p>
  <span ng-if="test">Id: {{player.id}}</span><br>
  <span>Actions: {{turn.actionPool}}</span><br>
  <span>Buys: {{turn.buyPool}}</span><br>
  <span>Money: {{turn.money}}</span><br>
  <span ng-if="test">Victory Points: {{player.victoryPoints}}</span><br>
  <p ng-if="test">
    <button ng-click="shuffle()">Shuffle</button>
  </p>
  <p ng-if="test">
    <button ng-click="drawHand()">Draw Hand</button>
  </p>
  <p ng-if="test">
    <button ng-click="discardHand()">Discard Hand</button>
  </p>
  <p>
    <button ng-if="turn.phase != 'BUY' && turn.phase != 'WAITING_FOR_OPPONENT'" ng-disable="turn.phase != 'ACTION'" ng-click="nextPhase()">Next Phase</button>
    <button ng-if="turn.phase == 'BUY'" ng-click="nextPhase()">End Turn</button>
  </p>
</div>

<div class="modal choice-box" ng-if="player.choices && player.choices.length > 0" ng-init="choice =  player.choices[0]">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Choice<a class="anchorjs-link" href="#modal-title"><span class="anchorjs-icon"></span></a></h4>
      </div>
      <p ng-if="choice.message">{{choice.message}}</p>
      <ul>
        <li ng-repeat="card in choice.cardOptions">
          <button ng-disabled="" ng-click="choose(game, player, choice, card)">{{card.name}}</button>
        </li>
      </ul>
      <div ng-if="!choice.required" class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="chooseDone(game, player, choice)">Done</button>
      </div>
    </div>
  </div>
</div>

<div class="play-container" ng-if="hasCurrentPlayer()">
  <h3>Play ({{play.length}})</h3>
  <ul>
    <li ng-repeat="card in play">
      <button>{{card.name}}</button>
    </li>
  </ul>
</div>

<div class="player-area" ng-if="hasCurrentPlayer()">
  <div class="hand-container">
    <h3>Hand ({{hand.length}})</h3>
    <ul>
      <li ng-repeat="card in hand">
        <button ng-if="isCardInPlay(card)" ng-disabled="" ng-click="playCard(card)">
          <img ng-src="{{getImagePath(card)}}" />
        </button>
      </li>
    </ul>
  </div>

  <div class="cards-container">
    <div class="deck-container">
      <button>
        <img ng-src="/images/card-back.jpg" />
        <span class="count">{{deck.length}}</span>
      </button>
    </div>

    <div class="discard-container">
      <button>
        <img ng-src="{{getImagePath(discard[discard.length-1])}}" />
        <span class="count">{{discard.length}}</span>
      </button>
    </div>
  </div>
</div>
