<div class="modal choice-box" ng-if="newGame">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Choice<a class="anchorjs-link" href="#modal-title"><span class="anchorjs-icon"></span></a></h4>
      </div>
      <p>
        <label>Cards</label><br>
        <select ng-model="cards" ng-change="setCards(cards)">
          <option ng-repeat="cardSet in recommendedCards">{{cardSet.name}}</option>
        </select>
        {{cards}}
      </p>
      <p>
        <label>Number of players</label><br>
        <select ng-model="playerCount" ng-change="updatePlayerCount(playerCount)">
          <option ng-repeat="number in playerNumbers">{{number}}</option>
        </select>
        {{playerCount}}
      </p>
      <p>
      <div ng-repeat="player in players">
        <input type="checkbox" ng-model="player.ai" ><label>AI</label></input>
      </div>
      </p>
      <div class="modal-footer">
        <button ng-click="createGame()">Create Game</button>
        <button ng-click="newGame = false">Cancel</button>
      </div>
    </div>
  </div>
</div>
<button ng-click="newGame = true">New</button>

<ul>
  <li ng-repeat="id in games">
    <a href="#/games/{{id}}">{{id}}</a>
  </li>
</ul>
<button ng-click="getGames()">Refresh</button>
