<div class="modal choice-box" ng-if="newGame">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Choice<a class="anchorjs-link" href="#modal-title"><span class="anchorjs-icon"></span></a></h4>
      </div>
      <div class="modal-body">
        <p>
          <label>Cards</label><br>
          <select ng-model="cards" ng-change="setCards(cards)">
            <option ng-repeat="cardSet in recommendedCards">{{cardSet.name}}</option>
          </select>
        </p>
        <p>
          <label>Number of players</label><br>
          <select ng-model="playerCount" ng-change="updatePlayerCount(playerCount)">
            <option ng-repeat="number in playerNumbers">{{number}}</option>
          </select>
        </p>
        <p>
        <div ng-repeat="player in players">
          <input type="checkbox" ng-model="player.ai" ><label>AI</label></input>
        </div>
        </p>
      </div>
      <div class="modal-footer">
        <button ng-click="createGame()">Create Game</button>
        <button ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="game-list-container">
  <button ng-click="update()">Refresh</button><button ng-click="newGame = true">New</button>

  <h2>Games</h2>
  <ul class="game-list">
    <li ng-repeat="game in games">
      <a href="#/games/{{game.id}}">{{game.id}}</a>
    </li>
  </ul>
</div>

<div class="game-list-container">
  <h2>Matches</h2>
  <ul class="game-list">
    <li ng-repeat="match in matches">
      <button ng-click="join(match.id)">{{match.id}}</button>
    </li>
  </ul>
</div>
