<div class="modal choice-box" ng-if="newGame">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Choice<a class="anchorjs-link" href="#modal-title"><span class="anchorjs-icon"></span></a></h4>
      </div>
      <p>
        <label>Cards</label><br>
        <select ng-model="cards" ng-change="setCards(cards)">
          <option ng-repeat="cardSet in recommendedCards">{{cardSet.name}}</option>
        </select>
      </p>
      <p>
        <label>Number of players</label><br>
        <select ng-model="playerCount" ng-change="updatePlayerCount(playerCount)">
          <option ng-repeat="number in playerNumbers">{{number}}</option>
        </select>
      </p>
      <p>
      <div ng-repeat="player in players">
        <input type="checkbox" ng-model="player.ai" ><label>AI</label></input>
      </div>
      </p>
      <div class="modal-footer">
        <button ng-click="createGame()">Create Game</button>
        <button ng-click="newGame = false">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div1 class="game-list-container">
  <button ng-click="getGames()">Refresh</button><button ng-click="newGame = true">New</button>

  <p>
    <label for="waiting-for-opponent">Waiting for Opponent</label>
    <input type="checkbox" id="waiting-for-opponent" ng-change="updateMatches()" ng-checked="filters.waitingForOpponent">
  </p>
  <p>
    <label for="finished">Finished</label>
    <input type="checkbox" id="finished" ng-change="updateMatches()" ng-checked="filters.finished">
  </p>
  <p>
    <label for="in-progress">In Progress</label>
    <input type="checkbox" id="in-progress" ng-change="updateMatches()" ng-checked="filters.inProgress">
  </p>

  <table class="game-list">
    <tr ng-repeat="game in games">
      <td><a ng-href="#!/games/{{game.id}}">{{game.id}}</a></td>
      <td>{{game.matchState}}</td>
      <td ng-repeat="participant in game.participants">
        <a ng-href="#!/players/{{player.account.id}}" ng-class="{winner: game.winner && game.winner.id === participant.id, loser: game.winner && game.winner.id !== participant.id}"><strong>Player {{$index+1}}:</strong> {{participant.account.email}}</a>
      </td>
      <td><button ng-if="game.matchState === 'WAITING_FOR_PLAYERS'" ng-click="joinGame(game)">Join</button></td>
    </tr>
  </table>
</div1>
