<form>
  <p>
    <label for="username">Username</label><br>
    <input type="text" id="username" ng-model="username">
  </p>
  <p>
    <label for="firstname">Firstname</label><br>
    <input type="text" id="firstname" ng-model="firstname">
  </p>
  <p>
    <label for="email">Email</label><br>
    <input type="text" id="email" ng-model="email">
  </p>
  <p>
    <label for="password">password</label><br>
    <input type="password" id="password" ng-model="password">
  </p>
  <button ng-click="submit">Sign Up!</button>

</form>
