[Unit]
Description=Javaminion
Requires=docker.service
After=docker.service
[Service]
Restart=always
User=root
Group=root
ExecStartPre=/usr/bin/docker-compose -f /root/javaminion/docker-compose.yml down -v
ExecStart=/usr/bin/docker-compose -f /root/javaminion/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /root/javaminion/docker-compose.yml down -v
[Install]
WantedBy=multi-user.target