[Unit]
Description=Jenkins
Requires=docker.service
After=docker.service
[Service]
Restart=always
User=root
Group=root
ExecStartPre=/usr/local/bin/docker-compose -f /root/docker-compose.yml down -v
ExecStart=/usr/local/bin/docker-compose -f /root/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /root/docker-compose.yml down -v
[Install]
WantedBy=multi-user.target