$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.active {
  font-weight:700;
}

/* Everything but the jumbotron gets side spacing for mobile first templates */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



body {
  background-image:url( "/images/wood_floor_pattern_seamless.jpg" );
}



.game-space {
  width: 1024px;
  position: relative;
  left: 35px;
}

.btn-choice {
  background-color: rgba(96, 179, 96, 0.4);
}

  .btn.btn-card {
    color: white;
    font-weight: bold;
    padding: 0 3px;
    margin: 0 3px;
  }

  .controls-container {
    float: left;
    width: 69px;
    position: absolute;
    top: 620px;
    height: 186px;
    font-size: 8pt;
    padding-left: 0px;
    padding-right: 8px;
    color: white;
    background-color: transparent;
    border: 0pt;
    z-index:100;
  }

  .display-container {
    width: 70px;
    font-size: 10px;
    color: white;
    font-weight: bold;
    height: 840px;
    float: left;
    background-color: rgb(47, 47, 47);
    padding-top: 30px;
    position: relative;
    top: -30px;
    border-right: 1px solid #989898;
  }

  .hand-container, .common-container, .kingdom-container {

    .name {
      display: none;
    }

    .count {
      display:block;
    }

    img {
      height: 150px;
    }

    li {
      display:inline-block;
    }

  }

  .kingdom-container {
    width: 675px;
  }
  .hand-container {
    display: inline-block;

    ul {
      padding-left:0;
    }
  }
  .cards-container {
    display: inline-block;
    float: left;

    img {
      height: 50px;
    }

    span {
      display: block;
    }

    .btn.btn-card {
      padding:0;
    }
  }
  .player-area {
    width:100%;
    position: relative;
  }

  .player-space {
    width: 100%;
    background-image: url("/images/wildtextures-Seamless-Dark-Marble-Tiles-Texture1-900x360.jpg");
    background-size: 35%;
    border-top: 2px solid #9D9D9D;
  }

  .log {
    color: white;
  }
  .play-container {

    ul {
      height: 100px;
    }

    img {
      height: 75px;
    }

    li {
      display:inline-block;
      list-style:none;
    }
  }

  .modal {
    display:block;
  }


  /* Responsive: Portrait tablets and up */
  @media screen and (min-width:300px) and (max-width: 768px) {

    .hand-container, .kingdom-container, .common-container {
      width:240px;

      img {
        height: 50px;
      }

      .count {
        font-size: .7em;
      }
    }
  }


